/* default css */
body{
    font-family: 'Ubuntu Mono', monospace;
    margin:0px
}
h1{
    font-size: 50px;
}
.content-highlight{
    color:#EC4F8F;
}
p{
    text-align: justify;
    line-height: 20px;
}
section{
    height: 700px;
}
.link-btn{
    text-decoration: none;
    background-image: linear-gradient(45deg,#EC4F8F,deeppink);
    padding:10px 20px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}
.half-width{
    width: 40%;
    margin-left: 4%;
    padding-left: 2%;
    float: left;
}
.half-width img{
    width: 100%;
}

/* intro area  */
.intro-area{
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;
}

/* biography area */
.biography{
    margin-top: 50px;
}
.biography-area{
    background-image: url(images/biography-bg.png);
    background-repeat: no-repeat;
}
.biography-area img{
    width: 70%;
}

/* latest-work  area  */
.latest-work-area h1{
    text-align: center;
}
.latest-work-area{
    background-image: url(images/latest-work-bg.png);
    background-repeat: no-repeat;
}
.one-third-width{
    width: 20%;
    margin-left:80px;
    padding-left: 5%;
    float: left;
    text-align: center;
}
.one-third-width img{
    width: 70%;
}

/* client-feedback-area */
.client-feedback-area{
    background-image: url(images/footer-bg.png);
    background-repeat: no-repeat;
    text-align: center;
}
.grey-highlight{
    color: grey;
}
.client-content p{
    text-align: center;
}
.contact{
    color: white;
    margin: 50px 700px;
    background-color: #EC4E8D;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px 10px;
}
.contact a{
    color: white;
    text-decoration: none;
}

/* footer */
footer p{
    text-align: center;
}

